h1 {
    color:rgb(146, 8, 123);
    font-family:Impact;
    font-size: 4cm;
    text-align: center;

}


 



p { 
    color:rgb(146, 8, 123);
    font-family: arial;
font-size:x-large;
text-align: center;
}


head {
    background-color: rgb(238, 183, 236);

    
}

body {
   
    background-color: rgb(243, 217, 243);
}

.BexPhoto {

    opacity:0.5;

}
